body{
    background-color: maroon;
    
    /* background-image: url(beau-couple-beneficiant-verre-vin-ensemble_23-2148960252.avif); */
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
   align-items: center;
    gap:10px;
    color: white;
    background-color:rgb(1, 24, 49);
    padding-top: 0;
    padding-bottom: 0;
}

.img-abdou img{
    width: 340px;
    height: 320px;
    /* object-fit: fill; */
}
.abdou{
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    padding: 20px 0 ;
    
     
}
h1{
    color:maroon;
    margin-left: 50px;
}
input{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}

#people,#price{ 
    border:none ;
    margin-left: 70 5px;
}
button{
    padding: 2px;
    margin: 3px;
    width: 60px;
    color:white;
    border-radius: 5px;
    background-color:maroon;

}

::placeholder{
    color: white;
}










